{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <table class="table table-bordered table-striped table-success">
      <thead>
        <tr>
          <th scope="col">
            <div class="text-center">Titulo</div>
            
          </th>
          <th scope="col">
            <div class="text-center">Plataforma</div>
            
          </th>
          <th scope="col">
            <div class="text-center">Fecha Arriendo</div>
            
          </th><td></td>
        </tr>
      </thead>
      <tbody>
        {% for arriendo in arriendos %}
        <tr>
            <td>{{ arriendo.juego.titulo }}</td>
            <td>{{ arriendo.juego.plataforma }}</td>
            <td>{{ arriendo.fecha_arriendo |date:"d/m/Y"}}</td>
            <td>
                <a href="{% url 'retornar' arriendo.id%}" class="btn btn-info">Retornar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
  
  </div>
{% endblock %}